<p id="notice"></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
  <strong>Members:</strong>
  <%= @beer_club.users.each do |user| %>
    <% if @beer_club.memberships.find_by_user_id(user.id).confirmed %> 
  <%= link_to user do%>
  <p><%= user.username%></p>
  <% end %>
  <% end %>
  <% end %>
</p>


<% if current_user %>

<% if @beer_club.is_member(current_user) and @beer_club.memberships.find_by_user_id(current_user.id).confirmed  %>
<p>
  <strong>Outstanding applications:</strong>
  <% @pending_users.each do |u| %>
    <p> <%= User.find_by_id(u.user_id).username %> 
    <%= link_to "Confirm", confirm_membership_path(u.id), method: :post, class: "btn btn-primary" %>
    </p>
    <% end %>
</p>
<% end %>

<%if @beer_club.users.find_by_id(current_user.id).nil? %>

<%= form_for(@membership) do |f| %>
 <%= f.hidden_field :beer_club_id %>
 <%= f.submit value:"join the club", class:"btn btn-primary"  %>
<% end %>
<%else%>
<% if @beer_club.is_member(current_user) and @beer_club.memberships.find_by_user_id(current_user.id).confirmed  %>
<%= form_for(@membership, method: "delete") do |f| %>
 <%= f.hidden_field :beer_club_id %>
 <%= f.submit value: "end the membership", class:"btn btn-primary"  %>
<% end %>
<% end %>
<% end %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club), class:'btn btn-primary' %> |
<%= link_to 'Back', beer_clubs_path, class:'btn btn-primary' %>
