<p id="notice"></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if @user.active and current_user.admin %>
<%= link_to "Close account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-primary" %>
<% end %>
<% if not @user.active %>

<span class="badge badge-info"> Account closed </span>
<% if current_user.admin %>

<%= link_to "Open account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>

<% end %>

<% end %>


<% if @user.ratings.empty?%>
  <%=@user.username%> has not rated anything yet!
<%else%> 
  <p>Number of ratings:<%= @user.ratings.count%> </p>
  <p>Average rating:<%= round(@user.average_rating)%> </p>
<%end%>

<p>
<strong>Ratings:</strong>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
</p>

<p>Favorite style: <%= @user.favorite_style%> </p>

<p>Favorite brewery: <%= @user.favorite_brewery%> </p>

<p><strong>Member of:</strong></p>
<ul>
 <% @user.beer_clubs.each do |club| %>
  <li><%= link_to club do%>
    <%= club.name%></li>
 <% end %>
 <% end %>
</ul>


<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %> |
<% end %>
<%= link_to 'Back', users_path, class:'btn btn-primary' %>
